[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "third_party/monocypher-src"]
	path = third_party/monocypher-src
	url = https://github.com/LoupVaillant/Monocypher.git
